/Makefile
/example-demo.o
/example
/pedigree1.MAP.out
/pedigree1.MAR.out
/pedigree1.MMAP.out
/pedigree1.uai.MAP.out
/pedigree1.uai.MAR.out
/pedigree1.uai.MMAP.out
/smoking3.evid
/smoking3.evid~
/smoking3.map
/smoking3.MMAP.out
/smoking3.uai
/smoking3.uai.MAP.out
/smoking3.uai.MAR.out
/smoking3.uai~
/smoking4.uai
/smoking4.uai.MAR.out
/simple5.evid~
/simple5.map~
/simple5.uai.merlin.PR
/simple5.uai~
/mrf.wcnf.uai.merlin.MAR
/mrf.wcnf.uai~
/simple5.uai.merlin.MAP
/simple5.uai.merlin.MAR
/simple5.uai.merlin.MMAP
